In [20]:
%run data_tools.ipynb
%run create_metrics.ipynb

data_2016 = load_data(2016)

Requirement already satisfied: openpyxl in c:\users\jmp08\anaconda3\lib\site-packages (2.6.2)
Requirement already satisfied: et-xmlfile in c:\users\jmp08\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\jmp08\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: pandas in c:\users\jmp08\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: numpy>=1.15.4 in c:\users\jmp08\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jmp08\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\jmp08\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in c:\users\jmp08\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
      T_ID   GDAY_DS  HEADER_NO   P_ID  START_CK  BAT_ORDER_NO   PA   AB  RBI  \
0       HH  20160401          0  60404         0             3    1    1    0
1       HH  20160401          0  62700         1             9    2    2    0
2       HH  20160401          0  64086         1             7    6    4    0
3       HH  20160401          0  66740         1             5    6    6    0
4       HH  20160401          0  71347         1             2    6    6    1
...    ...       ...        ...    ...       ...           ...  ...  ...  ...
18679   WO  20161009          0  74215        91           374  402  341   80
18680   WO  20161009          0  78168       139           177  646  560   63
18681   WO  20161009          0  79130        15           251   80   66    7
18682   WO  20161009          0  79300        13           429  106   91    9
18683   WO  20161009          0  79365       122           965  454  411   70

       RUN  ...  BB  IB  HP  KK  GD  ERR  LOB  P_AB_CN  P_HIT_CN  GAME_COUNT
0        0  ...   0   0   0   0   0    0    1        0         0           1
1        1  ...   0   0   0   0   0    1    0        0         0           1
2        0  ...   1   0   0   3   0    0    1        2         0           1
3        0  ...   0   0   0   0   0    0    1        1         1           1
4        1  ...   0   0   0   2   0    0    0        1         0           1
...    ...  ...  ..  ..  ..  ..  ..  ...  ...      ...       ...         ...
18679   72  ...  46   3   9  50  16    6   77      121        35          92
18680  111  ...  69   2  10  58   6   15  113      118        36         140
18681   10  ...  11   0   1  24   1    1   18       20         3          40
18682   16  ...  10   0   0  16   3    0   29       25         4          81
18683   44  ...  27   0   7  93  18    7   71      132        33         127

[18684 rows x 28 columns]

In [61]:
make_batter_metrics(data_2016, "csum_team_batter")
data_2016["csum_team_batter"]

,T_ID,GDAY_DS,HEADER_NO,PA,AB,RBI,RUN,HIT,H2,H3,...,ERR,LOB,P_AB_CN,P_HIT_CN,GAME_COUNT,PA/KK,OPS,ISO,XR,EQA
0,HH,20160401,0,52,46,4,4,13,2,0,...,2,12,15,3,1,5.200000,0.652618,0.043478,4.660,0.682692
1,HH,20160402,0,102,89,11,11,26,6,0,...,3,22,30,8,2,5.368421,0.710066,0.067416,10.638,0.728155
2,HH,20160405,0,143,124,19,20,39,10,0,...,4,30,44,14,3,7.150000,0.771973,0.080645,17.910,0.793303
3,HH,20160406,0,179,159,23,24,50,13,0,...,4,35,53,16,4,7.160000,0.798124,0.119497,23.600,0.816421
4,HH,20160407,0,219,198,26,27,62,15,0,...,5,45,64,18,5,6.257143,0.806302,0.136364,29.750,0.820242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,WO,20161002,0,5554,4858,749,797,1434,251,39,...,81,1045,1383,424,140,6.004324,0.813987,0.149238,786.260,0.834545
1436,WO,20161004,0,5591,4891,752,800,1439,253,39,...,81,1049,1387,425,141,5.992497,0.811578,0.148640,787.836,0.832275
1437,WO,20161005,0,5626,4925,756,804,1446,253,39,...,81,1053,1390,426,142,5.985106,0.810283,0.148832,790.700,0.830950
1438,WO,20161007,0,5664,4957,760,808,1454,254,39,...,81,1060,1393,426,143,5.962105,0.809069,0.148073,794.470,0.829864
1439,WO,20161009,0,5702,4990,765,813,1464,254,39,...,84,1066,1400,429,144,5.964435,0.807983,0.147094,798.422,0.828859

In [64]:
%run create_metrics.ipynb
make_pitcher_metrics(data_2016, "csum_team_pitcher")
data_2016["csum_team_pitcher"]

,T_ID,GDAY_DS,HEADER_NO,CG_CK,HOLD,INN2,BF,PA,AB,HIT,...,ER,WLS_D,WLS_L,WLS_W,GAME_COUNT,K/9,BB/9,LOB%,FIP,DER
0,HH,20160401,0,0,0,34,196,47,42,9,...,4,0,1,0,1,0.970588,0.352941,0.689655,3.176471,0.741935
1,HH,20160402,0,0,0,64,418,96,82,21,...,12,0,2,0,2,0.937500,0.562500,0.673077,5.062500,0.688525
2,HH,20160405,0,0,0,91,598,136,114,28,...,15,0,2,1,3,1.021978,0.626374,0.691964,4.450549,0.691358
3,HH,20160406,0,0,0,118,775,176,146,34,...,21,0,3,1,4,1.093220,0.661017,0.663265,4.805085,0.693069
4,HH,20160407,0,0,0,145,916,213,179,41,...,28,0,4,1,5,0.972414,0.600000,0.641791,5.213793,0.718750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,WO,20161002,0,0,74,3739,21060,5531,4916,1445,...,687,1,63,76,140,0.694838,0.338593,0.692841,4.960952,0.677419
1436,WO,20161004,0,0,74,3769,21200,5569,4950,1452,...,688,1,63,77,141,0.696471,0.339082,0.694205,4.928628,0.677682
1437,WO,20161005,0,0,74,3793,21345,5609,4986,1465,...,696,1,64,77,142,0.696810,0.339309,0.694824,4.954390,0.677530
1438,WO,20161007,0,0,74,3817,21491,5646,5020,1476,...,701,1,65,77,143,0.700288,0.338748,0.694963,4.958606,0.676901
1439,WO,20161009,0,0,74,3841,21627,5684,5056,1487,...,705,1,66,77,144,0.699037,0.337412,0.693788,4.955741,0.677068